<!DOCTYPE html>
<body style="font-family:Arial, sans-serif;">
    <h2>¡Bienvenido/a {{name}}</h2>
    <p>Tu registro fue exitoso. Gracias por unirte a nuestra plataforma.</p>
    <p>- Equipo Backend 2</p>
</body>

</html>